$textcolor1: #000000;
$textcolor2: #FFFFFF;

$primarycolor1: #5DC592;
$primarycolor2: #72CA9F;
$primarycolor3: #88C7A8;
$primarycolor4: #A6C9B8;

$primarylightcolor1: #5DC592;
$primarylightcolor2: #72CA9F;
$primarylightcolor3: #88C7A8;
$primarylightcolor4: #A6C9B8;

$secundarycolorone1: #55FDAB;
$secundarycolorone2: #70FFB9;
$secundarycolorone3: #98FFCD;
$secundarycolorone4: #C1FFE1;

$secundarycolortwo1: #1CE7CE;
$secundarycolortwo2: #76E5D8;
$secundarycolortwo3: #A3E8DF;
$secundarycolortwo4: #D9F6F3;

$secundarycolorthree1: #1CDBE7;
$secundarycolorthree2: #5AE8F1;
$secundarycolorthree3: #88E2E8;
$secundarycolorthree4: #1CDBE7;

$secundarycolorfour1: #10565a;
$secundarycolorfour2: #2A6367;
$secundarycolorfour3: #388489;
$secundarycolorfour4: #466567;

$gradiant1: rgb(28, 219, 231, 32);
$gradiant2: radial-gradient(#4DF3A2 at #1CDBE7, rgba(77, 243, 162, 0.23) 0%, rgba(28, 219, 231, 0.23) 100%);
$gradiant3: rgb(0,0,0,60%);