@import "../../variables.scss";

.Footer {
  padding: 1rem;

  background: #1CE7CE;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  div{
    padding:1rem 2rem;
  }
}


