$theme-primary-color: #1CE7CE;
$theme-primary-light-color: #69F0AE;
$theme-secondary-color: #0F4C75;
$theme-accent-color: #00818A;
$theme-dark-color: #fdfdfd;
$theme-darkest-color: darken($theme-dark-color, 5);
$secundary-color-two: #1CE7CE;
$secundary-color-three: #1CDBE7;


$theme-light-color: #DBEDF3;

$theme-drop-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);