.App {
    width: 100%; /*tamaño minimo*/
    min-height: 100vh;
    background-color: rgb(238, 238, 238);
   
    display: flex; /*columnas*/
    flex-direction: column;
    gap: 2rem;


}
main { /*tamaño completo para el footer abajo*/
      flex: 1;
      color: rgb(255, 255, 255);
}
